@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #afeeda;
    --primary-dark: #68dfb9;
    --secondary: #b27c66;
    --secondary-dark: #885744;

    --gray: #8d8d8d;
    --info: #6c757d;
    /* --black: #0d1821; */
    --black: #131112;
    --white: #fff;
    --blue: #afeeda;
    --green: #52b788;
    --red: #9e2a2b;
  }

  html {
    font-size: 62.5%;

    @media only screen and (min-width: 768px) {
      font-size: 75%;
    }

    @media only screen and (min-width: 1280px) {
      font-size: 100%;
    }
  }

  body {
    color: var(--dark);
    background: var(--white);
  }
}

@layer components {
  button {
    transition: all 300ms ease-out;

    &.bg-primary {
      color: var(--black);
      background-color: var(--primary);

      &:hover {
        background-color: var(--primary-dark) !important;
      }
    }

    &.bg-white {
      color: var(--black);

      &:hover {
        opacity: 0.8;
      }
    }

    &[role="tab"] {
      outline: none !important;
      outline-offset: 0 !important;
      box-shadow: none !important;
    }
  }

  a {
    color: var(--secondary);
    transition: all 300ms ease-out;

    &:hover {
      color: var(--secondary-dark);
    }
  }

  main {
    padding-top: 3.5rem;
  }

  .truncate-multi-lines {
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis; */

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .dynamic-text-shadow {
    letter-spacing: 0.05em;
    text-shadow: 0.05em 0.05em 0px #d5d5d5, 0.1em 0.1em 0px rgba(0, 0, 0, 0.2);
  }

  .number-input {
    justify-content: end;
  }

  .number-input input {
    text-align: right;
    width: 6rem;
  }

  .number-input input::-webkit-inner-spin-button,
  .number-input input::-webkit-outer-spin-button {
    opacity: 1;
    margin-left: 0.5rem;
  }
  .backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 25%);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
